/*Script Import*/
@import "_typography.css";

/* Background Colour Variables */
:root {
  ---black: #000000;
  ---gold: #D4AF37;
  ---rose-gold: #F4C0B4;
  ---silver: #D8D8D8;
  ---red: #DC7C6E;
  ---blue: #57CEF7;
  ---yellow: #EEE76B;
}

/* Media Query for Screen Size */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .grid {
      display: grid;
      position: relative;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      width: 100%;
      max-width: 1400px;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .grid {
      display: grid;
      position: relative;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      width: 100%;
      padding-right: 30px;
      padding-left: 30px;
    }
}

/* Global Code */
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  background-color: #FFF;
  user-select: none;
}

body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

li {
  margin: 0;
}

nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 2rem;
}

/* Header */
.header {
  background: url("../Images/OMONA_Header.svg") no-repeat;
  background-color: var(---red);
  height: 100%;
  z-index: -3;
}

.logo-wrapper {
  grid-column: 1 / span 3;
}

.logo-wrapper svg {
  max-width: 150px;
}

.heading-wrapper {
  padding-top: 8rem;
  grid-column: 5 / span 7;
}

.text-wrapper {
  grid-column: 2 / span 3;
  padding: 5.25rem 0;
}

h1 {
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 9 / span 3;
}

nav li {
  list-style-type: none;
}

nav li svg {
  max-width: 25px;
  max-height: 25px;
  stroke: #FFFFFF;
}

/* Section 1: Product Category */
.product {
  background-color: var(---blue);
  height: 100%;
}

.f-category {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.heading {
  display: inline-block;
  backface-visibility: hidden;
  margin: auto;
}

.heading-xxl {
  display: inline;
  font-size: 6.875rem;
  opacity: .9;
}

a {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 700;
  color: var(---black);
  text-decoration: none;
  transition: color 0.5s cubic-bezier(0.61,0.32,0.41,0.85);
}

a img {
  top: 10rem;
  left: 250px;
  overflow: hidden;
  position: absolute;
  display: none;
  max-width: 60%;
  z-index: -1;
}

a img:nth-child(2) {
  right: 10rem;
  max-width: 25%;
  max-height: 25%;
}

a img::after {
  left: 100px;
  z-index: -2;
}

a:hover {
  color: var(---red);
  z-index: 2;
}

a:hover img {
  display: block;
}

/* Section 2: Materials */
.materials {
  background-color: var(---red);
}

.materials, .product, .s-collection {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 8.33%;
}

.m-column {
  padding-top: 5rem;
  z-index: 2;
  float: left;
  height: 100%;
  width: 33.33%;
  overflow: hidden;
  position: relative;
}

.m-column h3 {
  text-align: left;
  padding-bottom: 2rem;
}

/* Section 3: Product Summary */
.f-summary {
  background-color: var(---blue);
  height: 100%;
}

.summary {
  grid-column: 7 / span 4;
  align-self: center;
}

.image-summary {
  grid-column: 2 / span 4;
  background: url("../images/DSC_0704_20.png") no-repeat center center;
  background-size: cover;
  max-height: 100%;
}

.h-summary, .h-contact {
  font-size: 2.8125rem;
}

.p-summary, .p-contact {
  padding-top: 2rem;
  font-size: 1.25rem;
}

.shop-link {
  padding-top: 9.375rem;
}

.shop-link button {
  font-family: "trade-gothic-next", sans-serif;
  font-size: 1rem;
  color: var(---black);
  text-decoration: none;
  background-color: var(---blue);
  border: none;
  border-bottom: 1px solid var(---black);
  padding-bottom: 1rem;
  padding-right: 5rem;
}

button:hover {
  transition: transform 0.2s cubic-bezier(0.61,0.32,0.41,0.85);
}

/* Section 4: Shop */
.collection {
  background-color: var(---yellow);
  height: 100%;
}

.collection-container {
  grid-column: 8 / span 4;
  align-items: center;
}

.shop-collection {
  grid-column: 2 /span 6;
  background-image: url("../images/Bear.jpg"); no-repeat center center;
  background-size: cover;
  max-width: 500px;
  max-height: 500px;
}

.s-description {
  grid-column: 8 / span 3;
  padding: 0;
  margin: 0;
}

.s-description h3 {
  margin-bottom: 1.5rem;
}

.s-description p {
  margin-bottom: 2rem;
}

.product-style-container {
	grid-column: 8 / span 4;
}

.button-wrapper {
  margin-left: 10rem;
}

form {
  margin-top: 2.5rem;
}

.quantity-input {
  grid-column: 9 / span 1;
}

input[type=number] {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 400;
  float: left;
  background-color: var(---yellow);
  border: 1px solid var(---black);
  border-radius: 0;
  width: 5rem;
  height: 2rem;
  text-align: center;
}

select {
  margin-top: 2rem;
  margin-bottom: 1em;
  padding: 1rem 0.5rem;
  background-color: var(---yellow);
  border: 0;
  border-bottom: 2px solid var(---blue);
  font-weight: bold;
  border-radius: 0;
}

select:focus, select:active {
  outline: 0;
  border-bottom-color: var(---red);
}

.add-cart {
  margin-top: 9rem;
}

.add-cart a {
  font-family: "trade-gothic-next", sans-serif;
  color: #FFF;
  text-decoration: none;
  background-color: var(---red);
  padding: 1rem 10rem;
}

.add-cart a:hover {
  background-color: #C94F64;
}

/* Section 5: Contact */
.f-contact {
  background-color: var(---yellow);
  height:100%;
}

.contact {
  grid-column: 2 / span 4;
}

.h-contact {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 700;
}

.social-link {
  margin-top: 5rem;
}

.social-link button {
  font-family: "trade-gothic-next", sans-serif;
  font-size: 1rem;
  color: var(---black);
  text-decoration: none;
  background-color: var(---yellow);
  border: none;
  border-bottom: 1px solid var(---black);
  padding-bottom: 1rem;
  padding-right: 5rem;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline-style: none;
  box-shadow: none;
}

/* Section 6: Footer */
.site-footer {
  height: auto;
  position: relative;
  width: 100%;
  padding-top: 5rem;
  margin-left: 2rem;
}

.f-heading {
  margin-bottom: 1rem;
}

.c-columns {
  display: flex;
  position: relative;
  margin-left: 1.4rem;
  grid-column: 1 / span 2;
}

.c-column {
  float: left;
  display: inline-block;
  height: 100%;
  width: 15.33%;
  overflow: hidden;
  position: relative;
  padding-bottom: 8.33vw;
}

.c-column:nth-child(4) {
  margin-left: 15rem;
  width: 25%;
}

.d-columns {
  display: inline-flex;
  width: 100%;
}

.d-column {
  float: left;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 8.33vw;
}

.site-footer li {
  list-style-type: none;
  opacity: .6;
  cursor: pointer;
  font-size: 1rem;
  padding: .35vw 0;
  position: relative;
  transition: opacity 250ms ease-out;
}

.c-column a {
  outline: 0;
  color: inherit;
  text-decoration: none;
}

.c-column ul {
  padding: 0;
}

.d-column ul {
  padding: 0 1.5rem;
}

.email-input {
  display: inline-block;
}

input[type="email"]{
  cursor: text;
  text-align: start;
  text-rendering: auto;
  margin-bottom: 1em;
  height: 2.5rem;
  width: 20rem;
  border: 0;
  border-bottom: 1px solid var(---black);
}

input:focus {
  outline-style: none;
  box-shadow: none;
}

.c-column p {
  font-size: 0.9375rem;
}

/* Button Animation */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(---red);
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
