/*Script Import*/
@import "_typography.css";

/* Background Colour Variables */
:root {
  ---black: #000000;
  ---gold: #D4AF37;
  ---rose-gold: #F4C0B4;
  ---silver: #D8D8D8;
  ---red: #DC7C6E;
  ---blue: #57CEF7;
  ---yellow: #EEE76B;
}

/* Media Query for Screen Size */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      width: 100%;
      max-width: 1400px;
    }
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      width: 100%;
      max-width: 1400px;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      width: 100%;
      padding-right: 30px;
      padding-left: 30px;
    }
}

/* Global Code */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

li {
  margin: 0;
}

nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 3rem;
}

/* Header */
.heading-wrapper {
  grid-column: 5 / span 7;
}

.text-wrapper {
  grid-column: 2 / span 3;
  padding: 1.25rem 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 8 / span 5;
}

/* Section 1: Product Category */
.f-category {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.category {
  display: inline-block;
  backface-visibility: hidden;
  transition: opacity 250ms linear;
  margin: auto;
}

.heading-xxl {
  display: inline;
  font-size: 6.875rem;
  opacity: .9;
}

/* Section 2: Materials */
.materials, .product, .s-collection {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 8.33%;
}

.m-column {
  z-index: 2;
  float: left;
  height: 100%;
  width: 33.33%;
  overflow: hidden;
  position: relative;
}

/* Section 3: Product Summary */
.summary {
  grid-column: 7 / span 4;
}

.image-summary {
  grid-column: 2 / span 4;
  z-index: 1;
  overflow: hidden;
  position: relative;
  padding-bottom: 50%;
}

.h-summary, .h-contact {
  font-size: 2.8125rem;
}

.p-summary, .p-contact {
  font-size: 1.25rem;
}

.shop-link {
  padding-top: 9.375rem;
}

.shop-link a {
  font-family: "trade-gothic-next", sans-serif;
  color: var(---black);
  text-decoration: none;
  background-color: var(---blue);
  padding: 1em 1.5em;
}

/* Section 4: Shop */
.shop-collection {
  grid-column: 1 /span 6;
  min-height: 650px;
}

.s-description {
  grid-column: 8 / span 4;
}

.product-style-container {
  grid-column: 8 / span 4;
  align-content: center;
}

.h-list ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-left: -8px;
  margin-right: -8px;
  list-style: none;
}
}

/* Section 5: Contact */
.contact {
  grid-column: 2 / span 5;
}

.h-contact {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 700;
}

/* Section 6: Footer */
.site-footer {
  height: auto;
  position: relative;
  margin-left: 3rem;
}

.c-columns {
  display: flex;
  position: relative;
  grid-column: 1 / span 2;
}

.c-column {
  float: left;
  display: inline-block;
  height: 100%;
  width: 20.33%;
  overflow: hidden;
  position: relative;
  padding-bottom: 8.33vw;
}

.f-heading {
  margin-bottom: 2.08vw;
}

.site-footer li {
  list-style-type: none;
  opacity: .6;
  cursor: pointer;
  font-size: 1rem;
  padding: .34vw 0;
  position: relative;
  will-change: opacity;
  backface-visibility: hidden;
  transition: opacity 250ms ease-out;
}

.c-column a {
  outline: 0;
  color: inherit;
  text-decoration: none;
}

.c-column ul {
  padding: 0;
}
